html {
    font-size: 15px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    height: 90vh;
}

.container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* form */
.container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container form table tr td:first-child {
    font-weight: bold;
}
.container form input, .container form select {
    padding: 5px;
    margin-left: 10px;
}

.container table tr td input[type="number"] {
    width: 110px;
}

.container form input[type="submit"] {
    text-align: center;
    padding: 5px 10px;

    margin-top: 10px;
}

/* booking data */
.container .content .inner-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;   

    height: 55vh;
}

.container .content h1 {
    padding: 0;
}

.container .content .fa-trash {
    color: red;
    font-size: 1.5rem;
    text-align: right;

    margin-right: 0.5rem;
}

.container .content .fa-trash:hover {
    cursor: pointer;
    color: #c90b0b;
}

.container .content .inner-content .table-container {
    max-height: 50vh;
    overflow: auto;
}

#bookings-table {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-collapse: collapse;
}

#bookings-table thead{
    background-color: white;
    box-shadow: 0 0 0 2px black;
    position: sticky;
    top: 0;
    z-index: 2; 
}

#bookings-table th, #bookings-table td {
    border: 1px solid black;
    padding: 5px 10px;
}

#bookings-table tr th:first-child  {
    width: 2rem;
}

#bookings-table tr th:nth-child(2) {
    width: 6rem;
}

#bookings-table tr th:nth-child(3) {
    width: 4rem;
}

#bookings-table tr th:last-child {
    width: 8rem;
}

#message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 230px;
    height: 130px;
    margin-bottom: 0.5rem;

    border-radius: 5%;
}

#message h4 {
    margin: 0;
    margin-bottom: 10px;
}

#message table  {
    background-color: gray;
    color: white;
    font-weight: bold;

    border: 1px solid black;
    border-collapse: collapse;
}

#message table tr, #message table tr td{
    border: 1px solid black;
    padding: 5px;
}

#message table tr td:last-child {
    background-color: white;
    color: black;
    font-weight: normal;
}

#message .error-message {
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 5px;

    padding: 5px 10px;
}

